/*ヘッダーのメニューだけ
----------------------------------------------------*/
#menu ul {
	display:flex;
	justify-content:center;
	list-style: none;
}

#menu{
	text-size:1.3rem;
	padding: 10px;
}

#menu li {
	width:30%;
	max-width:200px;
	height: 30%;
}
#menu li:fist-of-type {
	margin-left:1%;
}
#menu a {
	box-sizing:border-box;
	margin: 0 auto; 
	text-align:center;
	font-size:15px;
	color:#06f;
	background-color:#ffffff;
	text-decoration:none;
	box-shadow:0 0 3px #333;
	transition:all .3s ease 0s;
	color: #ffff
}

#menu a svg {
	display:block;
	margin:0 auto;
	font-size:1.8rem;
}
#menu a span {
	display:block;
}
#menu a:hover{
	color:#000;
	box-shadow:0 0 3px #f30;
}

#title {
	width: 30%;
	height: 30%;
}