#post_button{
	position: fixed;
	top: auto;
	bottom: 80px;
	z-index: 2000;
}
#post_button button{
	padding: 5px;
	margin: 1rem 1rem;
	width: 50px;
	height: 50px;
	border: solid 5px #32ceee;
	border-radius: 50%;
	box-shadow:0 0 1px #333;
	right: 0;
	position: fixed;
	text-align: center;
	transition:all .3s ease 0s;
}

#top_form{
	padding: 5px;
	background-color: #fff;
}

#post_button button:hover{
	background-color: #fff;
	border-color: #59b1eb;
	color: blue;
}

#post_button button > img{
	margin:auto;
	width: 95%;
	height: 95%;
	cursor: pointer;
}

/*薄く黒色を重ねる*/
#black-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 1999;
  opacity: 0.5;
}
/*post_formを真ん中に配置するための空間*/
#flex-area{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: #000;
}
#post_form{
	position: fixed;
	padding: 5px;
	margin: auto;
	min-width: 75%;
	width: auto;
	max-height: 60%;
	min-height: 50%;
	top: 100px;
	bottom:auto;
	border: solid 5px #fff;
	border-radius: 0.5rem;
	box-shadow:0 0 3px #333;
	background-color: #fff9a4;
	text-align: center;
	z-index: 2000;
}
#top_form {
	font-size: 18px;
	margin-top: 1.5rem;
	/*↓位置の確認に使ってる設定*/
	/*background: #ccc;*/
}
#menu_name > form > p{
	margin-bottom: 10px;
}
#review > p{
	margin-top: 10px;
	margin-bottom: 10px;
}
#write > p{
	margin-top: 10px;
	margin-bottom: 10px;
}

#write input{
	padding: 10px;
	padding-bottom: 20px;
}

textarea {
    resize: none;
}

#post_form button{
	padding: 5px;
	border: 3px;
	height: 30px;
	width: 90px;
	border-radius: 3px;
	background-color: orange;
	transition:all .3s ease 0s;
}

#post_form button:hover{
	color: white;
}

#input{
	display: inline-table;
}