#flex-area-s{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: #000;
}
#search_form{
	position: fixed;
	padding: 5px;
	margin: auto;
	max-width: 60%;
	min-width: 50%;
	max-height: 40%;
	min-height: 30%;
	top: 200px;
	bottom:auto;
	border: solid 5px #fff;
	border-radius: 10px;
	box-shadow:0 0 3px #333;
	background-color: #fff9a4;
	text-align: center;
	z-index: 2001;
}
#food_name{
	margin-bottom: 1rem;
}
#search_form button{
	padding: 5px;
	border: 3px;
	height: 30px;
	width: 90px;
	border-radius: 3px;
	background-color: orange;
	transition:all .3s ease 0s;
}
#search_form button:hover{
	color: white;
}
#top_form_ms {
	font-size: 24px;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	/*↓位置の確認に使ってる設定*/
	/*background: #ccc;*/
}